:root {
    --primary-bg-color: rgb(60, 60, 60);
    --primary-color: #eeeeee;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

span {
    color: var(--primary-color);
}

ul {
    list-style-type: none;
}

