/*
:root {
    --primary-bg-color: rgb(60, 60, 60);
    --primary-color: #eeeeee;
    --hover-bg-color: #999;
    --active-bg-color: cornflowerblue;
    --border-color: #666;
} 
*/

@property --primary-bg-color {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(60, 60, 60);
}

@property --primary-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #eeeeee;
}

@property --hover-bg-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #999;
}

@property --active-bg-color {
    syntax: "<color>";
    inherits: false;
    initial-value: cornflowerblue;
}

@property --border-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #666;
}

@property --active-device-gb-color {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(0, 255,0);
}



body {
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    padding: 0rem 2.5rem;
}

span {
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
}

ul {
    list-style-type: none;    
}

#logincard {
    position: absolute;
    right: 11rem;
    top: 3rem;
    width: 15rem;
}

@media (max-width: 1000px) {
    #logincard {
        position: relative;
        left: 2.5rem;
        top: 0;
    }
}

#logincard button {
    width: 50%;
    background-color: white;
    font-size: 1.1rem;
}

#logincard input {
    width: 100%
}

#loginheader {
    padding: 0.5rem 0.1rem;
    color: white;
    font-size: 1.3rem;
}

#sidemenu {
    overflow-y: auto;
    scrollbar-color: pink lightblue;
    position: fixed;
    top: -93vh;
    left: -430px;
    padding: 10px;
    z-index: 1000;
    height: 95vh;
    opacity: 0.96;
    background-color: var(--primary-bg-color);
}

    #sidemenu:hover {      
        border-bottom-right-radius: 10px;
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        transform: translate(430px, 91vh)
        
    }

#loginMessage{
    position: absolute;
    right: 1rem;
    top: 1.5rem;    
}

.menuitem:link, .menuitem:visited {
    background-color: slategrey;
    /* color: white; */
    padding: 14px 25px;
    text-decoration: none;
    margin: 1px;
    width: 400px;
    display: inline-block;
}

.menuitem:hover, .menuitem:active {
    background-color: var(--hover-bg-color);
}

    input[type=datetime-local], select{
        font-size: 1em;
        font-family: sans-serif;
        padding: 0.2rem;
    }


.info-container {
    min-width: 800px;
    max-width: 1200px;
    margin: 10px auto;
    color: lightgrey;
}

.container {
    min-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: lightslategray;    
    padding: 20px;
    border-radius: 4px;
}

.controls {
    display: flex;
    /* margin-bottom: 15px; */
    gap: 10px;
    padding: 0.3rem;
}

.myButton {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 1rem;
}


.myInput {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
    .myInput:read-only {
        background-color: lightgray;
        border: 0;
    }
    

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

    .delete-btn:hover {
        background-color: #e60000;
    }

#tagfailtable td {
    padding: 0.5rem 2rem;
    font-size: 1.1rem;   
    border-top: 1px solid;
}

#sortable-list {
    list-style-type: upper-latin;
    /*padding: 0; */
}

.nonsortable-item {
    /*padding: 2px;
    margin: 5px 1rem;
        display: flex;

    justify-content: space-between;
    align-items: center;*/
}

/* 
@scope (.container) {
  h2 {
    font-size: 30px;
    color: green;
  }
  img {
    border: 5px solid maroon;
  }
}
*/

.sortable-item {
    cursor: grab;
    /*     padding: 2px;
        border-radius: 2px;
        margin: 3px 1rem;
        display: flex; 
    justify-content: space-between;
    transition: opacity 0.2s; */
}

    .sortable-item:active {
        cursor: grabbing;
    }

    .sortable-item.dragging {
        opacity: 0.4;
    }

    .sortable-item.over {
        border-top: 2px solid var(--border-color); /* Visuelles Feedback wo es fallen gelassen wird */
    }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.sollwerte {
    display: grid;
    grid-template-columns: 40rem 7rem max-content 7rem max-content;
}

.tagConfig {
    display: grid;
    grid-template-columns: 7rem 40rem 3rem 1rem 1rem 3rem;
}

.sollwerte > * {
    padding: 0.5rem;
    margin: 1px 0px;
    font-size: 1.2em;
}

.sollwerte h2 {
    background-color: lightgray;
    color: black;
    grid-column: span 5;
    margin-top: 0.5rem;
}

.sollwerte a {
    background-color: white;
    color: black;
    grid-column: span 2;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

    .sollwerte a:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6)
    }


.sollwerte div {
    background-color: lightgrey;
    grid-column: span 2;
}

.sollwerte label {
    background-color: lightgrey;
    color: black;
    overflow: hidden;
    min-width: 0;
}

    .sollwerte label span {
        background-color: lightgoldenrodyellow;
        color: black;
        float: right !important;
        padding: 0rem 0.5rem;
        text-align: center;
    }

.sollwerte input {
    text-align: right;
    border: 0px;
}

    .sollwerte input:not([disabled]) {
        cursor: pointer;
    }

    .sollwerte input + span {
        background-color: white;
        color: black;
    }

    .sollwerte input:disabled + span {
        background-color: black;
        color: white;
    }

    .sollwerte input:disabled {
        background-color: black;
        color: white;
    }

    .sollwerte input:enabled {
        background-color: white;
        color: black;
    }

        .sollwerte input:enabled:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6)
        }

        .sollwerte input:enabled:focus-visible {
            border: 1px solid var(--active-bg-color);
        }

@media (max-width: 1000px) {
    .sollwerte {
        display: grid;
        grid-template-columns: auto 7rem max-content 7rem max-content;
    }
}

input[type="checkbox"] {
    grid-column: span 2;
}

    input[type="checkbox"]:disabled {
        background-color: black;
        accent-color: black;
    }

input.checkbox {
    font-size: 2rem;
    padding: 0;
    /*text-align: center;
    text-transform: capitalize;
    outline: 0.1rem solid grey;
    outline-offset: -0.5rem;
    /*
    margin: 0 35%;
    width: 30%;    
    grid-column: span 2;
    
        border: 2px solid grey;
    */
}

    input.checkbox:focus {
        outline: none;
        caret-color: transparent;
    }

    input {
        font-size: 1.1em;
        padding: 2px;
        margin: 0px;
        box-sizing: border-box;
    }

#alert {
    position: absolute;
    top: 0;
    left: 2rem;
    padding: 0.5rem;
    margin:0.1rem;
    width: 58rem;
}

	#alert > .success {
		margin: 1px;
		padding: 0.3rem;
		background-color: rgba(0, 204, 0, 0.8);
		border: 2px solid rgb(0, 204, 0);
	}

    #alert > .warn {
        margin: 1px;
        padding: 0.3rem;
        background-color: rgba(255, 215, 0, 0.8);
        border: 2px solid rgb(255, 215, 0);
    }

    #alert > .error {
        margin: 1px;
        padding: 0.3rem;
        background-color: rgba(255, 99, 71, 0.8);
        border: 2px solid rgb(255, 99, 71);
    }



.datatable {
    margin-left: auto;
    margin-right: auto;

    table {
        width: 50%;
        border-collapse: collapse;
        min-width: 50rem;
    }

    tbody tr:nth-child(even) {
        background-color: #343434;
    }

    tr:hover {
        background-color: #565656;
    }


    th {
        background-color: #454545;
    }

    td, th {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid var(--border-color);
    }
}

/* Menü-Streifen */
.tab {
    overflow: hidden; 
    width: 28rem;
}

    /* Buttons auf Menüstreifen */
    .tab button {
        display: flex;
        background-color: dimgray ;
        color: var(--primary-color);
        float: inline-start;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0.5rem;
        margin: 0 1px;
        transition: 0.3s;
        font-size: 1rem;
    }

        /* hover Buttons auf Menüstreifen */
        .tab button:hover {
            background-color: var(--hover-bg-color);
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: var(--active-bg-color);
        }

/* Style the tab content */
.tabcontent {
    display: none;
    background-color: #444;
    padding: 1rem;
    border: 1px solid var(--border-color);
    /* margin: 1px 2.5rem; */
    width: 26rem;

    h3 {
        padding: initial;
    }
}

.is-loading {
    cursor: wait !important;
    opacity: 0.5;
}

/* Dialog-Box */
#waitforserver {
    position: absolute;
    margin: 5vh 40vw;
    padding: 1rem 2rem;
    width: 22rem;
    text-align: center;
    background-color: var(--hover-bg-color);
}

/* Spinner beim Warten auf Kurvendaten https://cssloaders.github.io/ */
.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    color: #fff;
}

    .loader:before,
    .loader:after {
        content: '';
        display: block;
        position: absolute;
        top: 2rem;
        left: 2rem;
        width: inherit;
        height: inherit;
        border-radius: 50%;
        transform: rotateX(70deg);
        animation: 1s spin linear infinite;
    }

    .loader:after {
        color: cornflowerblue;
        transform: rotateY(70deg);
        animation-delay: .4s;
    }

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%, 100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

.activeItem {
    background-color: orange;
}

/* Bild Pfeilfarben */
.sole {
    fill: magenta;
}

.heissgas-md {
    fill: maroon;
}

.heissgas-nd {
    fill: red;
}

.fluessig-md {
    fill: limegreen;
}

.fluessig-hd {
    fill: yellow;
}

.wasser {
    fill: green;
}

.saug-nd {
    fill: blue;
}

.saug-md {
    fill: aquamarine;
}